
#main-logo {
  height:350px;
}
#mapc {
  width: 100%;
  position: fixed;
  height: 100%;
  margin:0;
  padding:0; 
}
@media screen {
    #imgcontainer{display: none}
    #impr_msg{
        text-align: center;
        visibility: hidden;
        position: absolute;
        height: 150px;
        width: 250px;
        top: 50%;
        left: 50%;
        margin-left: -125px;
        margin-top: -75px;
        z-index: 100;
        background-color: #EEE;
        border: 2px solid #CCC;
        box-shadow: 3px 3px 8px #777;
        border-radius: 5px;
        padding: 10px;
        padding-top: 20px;

    }
}
@media print {
    #impr_msg{display: none}
    #mapcontainer{display: none}
    #imgcontainer{
        height: 10cm;
        width: 17cm;
    }
    #imagec{
        border: 1mm solid #999;
    }
}

.container-fluid {
  padding: 0px;
  margin:0px;
}
.navbar{
  padding: 0px;
  margin:0px;
}
#map-title { color:white; }

.img-overview{
  height: 310px;
}

.img-overview  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.leaflet-bottom {position: fixed;}
.legend{
  background-color: rgba(255, 255, 255, 0.7);
  padding:15px;
}
.legend div label, .legend div span {
  display:block;
  text-align:left;
  font-size:9px;
}
.legend div span {
  height: 10px;
  width: 30px;
  margin-right:5px;
}
