
#mapc {
  width: 100%;
  position: fixed;
  height: 100%;
  margin:0;
  padding:0; 
}

.container-fluid {
  padding: 0px;
  margin:0px;
}
.navbar{
  padding: 0px;
  margin:0px;
}
#map-title { color:white; }

.img-overview{
  height: 310px;
}

.img-overview  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.leaflet-bottom {position: fixed;}
.legend{
  background-color: rgba(255, 255, 255, 0.7);
  padding:15px;
}
.legend div label, .legend div span {
  display:block;
  text-align:left;
  font-size:9px;
}
.legend div span {
  height: 10px;
  width: 30px;
  margin-right:5px;
}


.previews .thumbnail {
  background-image: url("img/premium-bg.png");
  text-align: center;
}



/*************************FOOTER********************************************/

.bg-footer-bottom {
  background-color: #162029;
  padding-bottom: 32px;
  padding-top: 32px;
  color:white;
}
.copy-left {
  display: inline-block;
  text-align: right;
  margin: 0;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
} 