#main-logo {
  height:350px;
}

#mapc {
  width: 100%;
  position: fixed;
  height: 100%;
  margin:0;
  padding:0; 
}

#imgc{
    width: 100%;
    border: 1px solid #AAA;
}

.imgfgnd h1{
    border-bottom: 1px solid #999;
    margin-bottom: 10mm;
}

@media screen {
    .imgbgnd{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 1000;
    }
    .imgfgnd{
        position: relative;
        height: 297mm;
        width: 210mm;
        top: 0;
        left: 50%;
        margin-left: -105mm;
        padding: 15mm;
        background-color: white;
    }
    #impr_msg{
        text-align: center;
        vertical-align: middle;
        visibility: hidden;
        position: absolute;
        width: 350px;
        top: 50%;
        left: 50%;
        margin-left: -175px;
        margin-top: -100px;
        z-index: 100;
        background-color: #EEE;
        border: 2px solid #CCC;
        box-shadow: 3px 3px 8px #777;
        border-radius: 5px;
        padding: 20px;
        padding-top: 50px;
        padding-bottom: 50px;

    }
}
@media print {
    #impr_msg{display: none}
    #mapcontainer{display: none}
    .imgbgnd{
        visibility: hidden;
    }
    .imgfgnd{
        visibility: visible;
    }
}

.container-fluid {
  padding: 0px;
  margin:0px;
}
.navbar{
  padding: 0px;
  margin:0px;
}
#map-title { color:white; }

.img-overview{
  height: 310px;
}

.img-overview  .img-responsive {
    display: block;
    width: auto;
    max-height: 100%;
}

.leaflet-bottom {position: fixed;}
.legend{
  background-color: rgba(255, 255, 255, 0.7);
  padding:15px;
}
.legend div label, .legend div span {
  display:block;
  text-align:left;
  font-size:9px;
}
.legend div span {
  height: 10px;
  width: 30px;
  margin-right:5px;
}
