angular.module('simpleMap.config', [])
.constant('cst_homepage', {
  "CUSTOM_TEMPLATE":"config/custom/templates/header.html",
  "CUSTOM_CSS":true,
  "LOGO_FILE":"img/Spirale_noire.png",
  "MAIN_TITLE":"Parc national des Cévennes",
  "SUB_TITLE":"Cartographie simplifiée",
  "MAIN_TEXT":"Liste des cartes",
  "SUB_TEXT":"Les cartes présentées ne permettent qu'une consultation des données. Merci de nous signaler les erreurs.",
  "FOOTER":"Les cartes présentées ne permettent qu'une consultation des données. Merci de nous signaler les erreurs.",
});
