<div> 
  <div class="navbar navbar-inverse" role="navigation">
      <a href="#maps" class="navbar-brand"><img id="nav-logo-home" class="img-responsive center-block" alt="hom pnc" src="img/Spirale_orange.png" style="height:30px"></a><h3 id="map-title">{{mapinfo.name}}</h3></li>
    
  </div>

  <div id="mapcontainer" class="container-fluid">
    <h3 id="impr_msg">Veuillez patienter pendant que la préparation du document.</h3>
    <div id="mapc"></div>
    <div style="position: absolute; bottom: 10px; left: 10px;">
      <button  ng-repeat="(key, baselayer) in baselayers"  ng-click="changeTiles(key)" id="activate-scan-{{key}}" class="btn " ng-class="{false: 'btn-warning', true: 'btn-primary'}[baselayer.active]" >{{baselayer.name}}</button>
    </div>
    <div style="position: absolute; bottom: 50px; left: 10px;">
        <button class="btn btn-danger" ng-click="imprimer()">Imprimer</button>
    </div>
  </div>
  <div id="imgcontainer">
      <h1><img src="img/Spirale_orange.png" style="height: 30px;" /> {{mapinfo.name}}</h1>
      <img id="imagec" src="" />
  </div>
</div>
